@model IEnumerable<GC_Project_Recipes.Models.Recipe>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prep_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cook_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingred_List)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingred_Amt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prep_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cook_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingred_List)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingred_Amt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Recipe_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Recipe_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Recipe_ID })
        </td>
    </tr>
}

</table>
